<h1>Edit a cat!</h1>

<form action="<%= cat_url(@cat) %>" method="post">
<input type="hidden" name="_method" value="patch">

  <table>
    <tr>
      <td><label for="name">Name</label></td>
      <td><input id="name" type="text" name="cat[name]" value="<%= @cat.name %>"></td>
    </tr>
    <tr>
      <td><label for="birth">Birth Date</label></td>
      <td><input id="birth" type="date" name="cat[birth_date]" value="<%= @cat.birth_date %>"></td>
    </tr>
    <tr>
      <td><label for="color">Color</label></td>
      <td>
        <select id="color" name="cat[color]">
          <option disabled >--Please choose a color--</option>
          <option value="black" <%= @cat.color == 'black' ? "selected" : "" %> >Black</option>
          <option value="white" <%= @cat.color == 'white' ? "selected" : "" %> >White</option>
          <option value="red" <%= @cat.color == 'red' ? "selected" : "" %> >Red</option>
          <option value="green" <%= @cat.color == 'green' ? "selected" : "" %> >Green</option>
        </select>
      </td>
    </tr>
    <tr>
      <td><label for="sex">Sex</label></td>
      <td>
        <input id="sex" type="radio" name="cat[sex]" value="M" <%= @cat.sex == 'M' ? "checked" : "" %>>M<br>
        <input id="sex" type="radio" name="cat[sex]" value="F" <%= @cat.sex == 'F' ? "checked" : "" %>>F
      </td>
    </tr>
    <tr>
      <td><label for="description">Description</label></td>
      <td>
        <textarea id="description" name="cat[description]" rows="8" cols="30">
          <%= @cat.description %>
        </textarea>
      </td>
    </tr>
  </table>

  <input type="submit" value="Edit cat">

</form>
